.content {
  max-width: 800px;
  margin: auto;
}

.feed {
}

.filter-options {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.option-name {
  align-self: center;
  justify-content: center;
}

.datepicker {
  display: inline-block;
}

.time-button {
  /*margin: 0 8px;*/
  padding: 0 4px;
}

.range-buttons {
  margin-top: -10px;
}

.celeb-list {
  width: 100%;
}

.celeb-contacts {
  display: grid;
  grid-template-columns: auto 30px;
  width: 80%;
}

.celeb-input {
  width: 80%;
}

.header {
  display: grid;
  grid-template-columns: auto 200px;
  margin-bottom: 5px;
}

.header-logo {
  height: 40px;
}

.add-new-star {
  align-self: end;
}
