<div class="content">
  <div class="header">
    <img class="header-logo" src="assets/cosmo.png">
    <button class="change-view" mat-stroked-button (click)="viewLiked = !viewLiked">Перейти к {{!viewLiked ? "выбранным постам" : "новым постам"}}</button>
    <button *ngIf="!viewLiked" class="add-new-star" mat-stroked-button>Добавить новую звезду</button>
  </div>

  <ng-container *ngIf="!viewLiked">
  <mat-expansion-panel class="panel" expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Отслеживаемые звезды
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!--    <mat-form-field class="celeb-input">-->
    <!--      <input matInput placeholder="Ссылка на профиль">-->
    <!--    </mat-form-field>-->

    <br/>
    <mat-form-field class="celeb-input">
      <input matInput placeholder="Поиск по контактам" [formControl]="contactCtrl">
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let celeb of (contactCelebrities ? contactCelebrities : []).sort()">
        <div class="celeb-contacts">
          <p>{{celeb}}</p>
          <mat-icon class="removeCeleb">cancel</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel  class="panel" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Найти посты за ...
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="filter-options">
      <span class="option-name">Время:</span>
      <mat-form-field>

        <input matInput placeholder="выберите период" [value]="range" [satDatepicker]="picker" class="datepicker"
               (dateChange)="onDateChangeEvent($event)" disabled/>
        <mat-hint class="range-buttons">
          <button class="time-button" mat-button (click)="setOneDay()">За сегодня</button>
          <button class="time-button" mat-button (click)="setWeek()">За неделю</button>
          <button class="time-button" mat-button (click)="setMonth()">За месяц</button>
        </mat-hint>
        <sat-datepicker #picker [rangeMode]="true" disabled="false"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>

      <span class="option-name">Знаменитости:</span>
      <span class="option-values">
        <mat-form-field class="celeb-list">
          <mat-chip-list #chipList aria-label="Celeb selection">
            <mat-chip *ngFor="let celeb of celebrities"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="remove(celebrities, celeb)">
              {{celeb}}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Знаменитость..."
              #celebInput
              [formControl]="celebCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event, celebrities, celebCtrl)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCeleb($event)">
            <mat-option *ngFor="let celeb of filteredCelebrities | async" [value]="celeb">
              {{celeb}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </span>

      <span class="option-name">Теги:</span>
      <span class="option-values">
        <mat-form-field class="celeb-list">
          <mat-chip-list #chipTagList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="remove(tags, tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Тэг..."
              #tagInput
              [formControl]="tagCtrl"
              [matAutocomplete]="autoTest"
              [matChipInputFor]="chipTagList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event, tags, tagCtrl)">
          </mat-chip-list>
          <mat-autocomplete #autoTest="matAutocomplete" (optionSelected)="selectedTag($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </span>

      <span class="option-name">Сюжет:</span>
      <span class="option-values">
        <mat-form-field class="celeb-list">
          <input
            matInput
            placeholder="Сюжет..."
            [formControl]="storyCtrl"
            [matAutocomplete]="autoTestStory">
          <mat-autocomplete #autoTestStory="matAutocomplete" (optionSelected)="selectedStory($event)">
            <mat-option *ngFor="let story of stories" [value]="story">
              {{story}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </span>
    </div>
  </mat-expansion-panel>


  <div class="feed">

    <ng-container *ngFor="let post of posts; let i = index">
      <app-post *ngIf="i === 0 && activePost === 0" [post]="undefined" [visible]="true" [active]="false"></app-post>
      <!--      <app-post *ngIf="i === 0 && activePost <= 1" [post]="undefined" [visible]="true" [active]="false"></app-post>-->
      <app-post [post]="post" [active]="i === activePost" [visible]="i >= activePost - 1 && i <= activePost + 2"
                (click)="activePost = i" (voted)="vote($event)">
      </app-post>
    </ng-container>
  </div>
  </ng-container>
  <ng-container *ngIf="viewLiked">
    <mat-card *ngFor="let post of likedPosts">
      <mat-card-content>
        {{post.author}}
      </mat-card-content>

    </mat-card>
  </ng-container>
</div>
